.Chart4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 24px;

  width: 100%;

  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  box-sizing: border-box;
}

.Slider {
  width: 800px;
}

.MapSection {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.map {
  width: 800px;
  height: 800px;
}

.Legend {
  background-color: #ffffff;
  position: absolute;
  bottom: 310px;
  right: 600px;
}

.Legend div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.Legend span {
  width: 14px;
  height: 14px;
  display: inline-block;
}

.dong-label {
  font-size: 12px;
  font-weight: bold;
  color: #111;
  background: transparent;
  border: none;
  box-shadow: none;
}
